.btn{
    background-color: #ffffff;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    margin-left: 43%;
    cursor: pointer;
}

.btn:hover{
    color: aliceblue;
    background-color: #ff0000;
    transform: translateY(-5px);
    transition-duration: 0.75s;
}