.btn{
    background: transparent;
    border: 2px solid #fafafa;
    color: #fafafa;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover{
    color: #211522;
    background-color: #fafafa;
    transform: translateY(-5px);
    transition-duration: 0.75s;
}