.btn{
    background-color: #0077B5;
    color: #FFFFFF;
    border: none;
    padding: 10px;
    border-radius: 10px;
    font-weight: bolder;
    margin-top: 15px;
    cursor: pointer;
}

.btn:hover{
    color: #0077B5;
    background-color: #FFFFFF;
    transform: translateY(-5px);
    transition-duration: 0.75s;
}